<div id="title">

  <p id="nav-links">
    <a href="#" id="our-story" class="nav-link">our story</a> : <a href="#" id="accomodations" class="nav-link">accomodations</a> : <a href="#" class="nav-link">when & where</a> : <a href="#" class="nav-link">wedding party</a> : <a href="#" class="nav-link">registry</a> : <a href="#" class="nav-link">denver</a> : <a href="#" class="nav-link">faq</a>
  </p>


  <div id="welcome-content" class="content">

    <h2 class="content-title">August 13th, 2016</h2>

    <p>Welcome friends! We're getting married!!</p>

  </div>

  <div id="accomodations-content" class="content">
    <h2 class="content-title">The Digs</h2>
    
    <a target="_blank" class="hotel-link" href="http://homewoodsuites3.hilton.com/en/hotels/colorado/homewood-suites-by-hilton-denver-littleton-DENLIHW/index.html">
      <div class="hotel-block">
        <%= image_tag("homewood.jpg", class: "hotel-pic") %>
        <h3 class="hotel-name">Homewood Suites</h3>
        <ul class="hotel-info">
          <li>Nice Place</li>
          <li>arcade room for the kids</li>
          <li>great place to have some goat</li>
        </ul>
      </div>
    </a>

    <hr>

    <a target="_blank" class="hotel-link" href="http://homewoodsuites3.hilton.com/en/hotels/colorado/homewood-suites-by-hilton-denver-littleton-DENLIHW/index.html">
      <div class="hotel-block">
        <%= image_tag("hampton.jpg", class: "hotel-pic") %>
        <h3 class="hotel-name">Hampton Inn</h3>
        <ul class="hotel-info">
          <li>some stuff</li>
          <li>some stuff</li>
          <li>last thing</li>
        </ul>
      </div>
    </a>
  </div>

</div>
