<div id="title">

  <p id="nav-links">
    <a href="#" id="our-story" class="nav-link">our story</a> : <a href="#" id="accomodations" class="nav-link">accomodations</a> : <a href="#" class="nav-link" id="whenwhere">when & where</a> : <a href="#" id="faq" class="nav-link">faq</a>
  </p>


  <div id="welcome-content" class="content">

    <h2 class="content-title">We are a legit power couple!!</h2>

    <p>God was always diappointed in his creation, until there was Growens.</p>

  </div>

  <div id="faq-content" class="content">
    <h2 class="content-title">Da Faq?</h2>

    <ul id="faq-list">
      <li class="faq">
        <h4 class="question">Q: Is marijuana really legal in Colorado?</h4>
        <p class="answer">A: Yes! But we suspect you knew that already and that may be part of the reason you're considering attending our wedding. We're flattered really.</p>
      </li>
      <li class="faq">
        <h4 class="question">Q: Does alcohol really hit you harder in the mountains?</h4>
        <p class="answer">A: Yes! (Just ask Liz about a Nadas concert here -- woof.) Our venue is at roughly 5,761 feet above sea level, so you will feel the effects of alcohol quicker if you're not used to drinking in the mountains. Just have some water too, OK? We don't want to be alone at our after-party.</p>
      </li>
      <li class="faq">
        <h4 class="question">Q: Can I bring my kids to your wedding?</h4>
        <p class="answer">A. Yes! (Wait, why are we only answering yes ... ). Your kids are welcome if that's what works best for you. The ceremony will be outside, and the reception is in an old mansion, which may or may not sound fun to your kiddos (or to their parents). But we leave the decision-making up to you. </p>
      </li>
      <li class="faq">
        <h4 class="question">Q: What happens if it rains during your perfectly planned outdoor ceremony?</h4>
        <p class="answer">A: Epic meltdown. Please RUN away scared. Kidding! First, we try to wait it out a bit (Colorado summer rains are quick). Then we move it to the old Manor House ballroom upstairs. Simple. You will not watch us get married through pouring rain. Hooray.</p>
      </li>
      <li class="faq">
        <h4 class="question">Q: Can I bring a date to your wedding?</h4>
        <p class="answer">A: Maybe? Are you dating someone? Was he or she on the invite? Do we know this person? We may sound like jerks, but we are absolutely at capacity with the number of people we have invited -- whoops! We just love all of you so much. But please talk to us if you have concerns.  </p>
      </li>
    </ul>
  </div>

  <div id="whenwhere-content" class="content">

    <h2 class="content-title">August 13th, 2016</h2>

    <p class="content-title">@</p>

    <h2 class="content-title">The Manor House</h2>

    <%= image_tag "manor-house.jpg", class: "manor-pic" %>

    <p class="description">Here's the stuff we want to say about the Manor House</p>
  </div>

  <div id="accomodations-content" class="content">
    <h2 class="content-title">The Digs</h2>
    
    <p class="description">We've reserved blocks of rooms in two hotels that are about a five-minute drive from the ceremony/reception venue and about a five-minute walk from the reception after-party location. Both hotels offer small shuttles to the venue, and Uber and taxis are available. We may add more shuttles depending on demand. Stay tuned! <strong>The hotels:</strong></p>

    <hr>

    <a target="_blank" class="hotel-link" href="http://homewoodsuites3.hilton.com/en/hotels/colorado/homewood-suites-by-hilton-denver-littleton-DENLIHW/index.html">
      <div class="hotel-block">
        <%= image_tag("homewood.jpg", class: "hotel-pic") %>
        <h3 class="hotel-name">Homewood Suites</h3>
        <p class="description">Prices for the rooms in the wedding block are king studio suites (4 people) at $179 per night, king one bedroom suite (4) at $199 per night, double queen one bedroom suite (6) at $219, and 1 king with double queen two bedroom suite at $399 per night. Each room has a full kitchen. Breakfast is included along with a light supper with complimentary beer and wine during the evening on Monday-Thursday. The hotel has a heated pool and fitness center. You can reserve a room by calling 720-981-4763 and asking for the Owens/Grigsby wedding block or just click here. The wedding block rate is available from Aug. 11 through Aug. 14 and for additional nights by calling the hotel. </p>
      </div>
    </a>

    <hr>

    <a target="_blank" class="hotel-link" href="http://hamptoninn3.hilton.com/en/hotels/colorado/hampton-inn-and-suites-denver-littleton-DENLTHX/index.html">
      <div class="hotel-block">
        <%= image_tag("hampton.jpg", class: "hotel-pic") %>
        <h3 class="hotel-name">Hampton Inn</h3>
        <p class="description">Prices for the rooms in the hotel block are $149 night for either a room with one king or a room with two queens. For an extra $20 (IS THIS PER NIGHT?), you can reserve a room with a wet bar and a fridge. Breakfast is included along with a complimentary light dinner with beer and wine Monday-Thursday evenings. There is an indoor pool and fitness center. You can reserve by XXXX. The wedding block rate is available from Aug. 10 to Aug. 15. </p>
      </div>
    </a>
  </div>

</div>
