/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap";

.answer {
    font-family: 'Alegreya', serif;
    font-size: 18px;
}

body {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}

body {
/*css for full size background image*/
  background: asset_url('background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  height: 100%;
  background-color: #ffffff;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
 
}

.book-button {
    height: 30px;
    font-size: 20px;
}

.content {
    background: rgba(255, 255, 255, 0.9);
    margin-left: 30px;
    width: 880px;
    padding: 10px;
    border-radius: 20px;
    display: none;
}

.content-title {
    text-align: center;
    margin-top: 5px;
}

.day {
    margin: 0px;
}

.description {
    font-family: 'Alegreya', serif;
    font-size: 18px;
    text-align: right;
}

#engagement-thumbnails {
    width: 50%;
    margin: 0 auto;
}

#hashtag {
    float: right;
    padding-right: 30px;
    font-family: 'Open Sans', sans-serif;
}

.hotel-info {
    list-style: none;
    margin-top: 0px;
}

.hotel-block {
    text-align: center;
}

.hotel-link {
    text-decoration: none;
    color: black;
}

.hotel-link:hover {
    color: red;
}

.hotel-name {
    margin-bottom: 10px;
}

.hotel-pic {
    height: 150px;
    text-decoration: none;
    border-radius: 50%;
    border: 3px solid black;
    float: left;
    margin-left: 40px;
    margin-right: 20px;
}

.link {
    color: black;
}

.link:hover {
    color: red;
}

#main-photo {
    height: 500px;
    display: block;
    margin: auto;
    box-shadow: 5px 5px 10px #888888;
}

#manor-link {
    color: black;
}

#manor-link:hover {
    color: red;
}

.manor-pic {
    display: block;
    margin: auto;
    border: 3px solid black;
}

.mobile-nav-link {
    display: none;
}

#more-list {
    list-style-type: none;
    padding: 0;
    h4 {
       margin-top: 20px;
    }
}


.more-cat {
    text-align: center;
    margin-bottom: 20px;
}

.more-name {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 22px;
    font-family: 'Alegreya', serif;
}

#nav-bar {
    padding: 10px;
    background: rgba(255, 255, 255, 0.4)
}

#nav-links {
    margin-top: 0;
    margin-left: 10px;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.nav-link:hover {
    color: red;
}

.peep-pic {
    height: 100px;
}

.question {
    font-size: 24px;
    margin-bottom: 0;
}

#site-title {
    margin-top: 3px;
    margin-bottom: 0;
}

#story-text {
    font-family: 'Alegreya', serif;
    font-size: 18px;
}

#story-vid {
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

#title {
  font-family: 'Open Sans', sans-serif;
  height: 1000px;
}

.schedule {
    margin: 5px;
    font-size: 18px;
    font-family: 'Alegreya', serif; 
}

.story-body {
    text-align: right;
    font-size: 22px;
    font-family: "Indie Flower", sans-serif;
}

.transport-text {
    font-family: 'Alegreya', serif;
    font-size: 20px;
    margin-top: 0px;
}

.transport-title {
    margin-top: 20px;
    margin-bottom: 10px;
}

#wedding-party-content {
}

.wp-description {
    margin: 0px;
    text-align: left;
    font-family: 'Alegreya', serif;
    font-size: 20px;
}

.wp-filter {
    text-decoration: none;
    font-size: 30px;
}

.wp-filter:hover {
    color: red;
}

#wp-filters {
    color: black;
    text-align: center;
}

.wp-list {
    list-style-type: none;
    display: none;
}

.wp-name {
    text-align: left;
    margin-bottom: 5px;
    margin-top: 10px;
}

@media all and (max-width: 750px) {

    .content {
        margin-left: 2%;
        width: 96%;
    }

    .manor-pic {
        width: 95%;
    }

    #main-photo {
        max-width: 98%;
        
    }
}

@media all and (max-device-width: 750px) {

    body {
        font-size: 40px;
        font-family: 'Open Sans', sans-serif;
    }

    .book-button {
        height: 60px;
        font-size: 40px;
    }

    .content {
        margin-left: 2%;
        width: 96%;
    }

    .day {
        font-size: 45px;
    }

    .description {
        font-size: 40px;
    }

    h1 {
        font-weight: normal;
    }

    h2 {
        font-weight: normal;
        }

    h3 {
        font-weight: normal;
    }

    h4 {
        font-weight: normal;
    }

    h5 {
        font-weight: normal;
    }

    .hotel-name {
        font-size: 60px;
    }

    .hotel-pic {
        height: 250px;
    }

    .manor-pic {
        width: 95%;
    }

    #sally {
        font-size: 25px;
    }

    #title {
        font-family: 'Open Sans', sans-serif;    
    }

    #main-photo {
        max-width: 98%;
        
    }

    #nav-bar {
        font-size: 60px;
    }

    #nav-links {
        display: none;
    }

    .mobile-nav-link {
        display: inline;
    }

    .mobile-link-text {
        font-size: 80px;
    }                   

    .more-cat {
        font-size: 60px;
    }

    .more-name {
        font-size: 42px;
    }

    .schedule {
        font-size: 40px;
    }

    #site-title {
        font-size: 80px;
    }

    #story-text {
        font-size: 40px;
    }

    .transport-text {
        font-size: 40px;
    }

    .transport-title {
        font-size: 50px;
    }

    .wp-filter {
        font-size: 50px;
    }

    .wp-name {
        font-size: 40px;
    }

    .wp-description {
        font-size: 30px;
    }  
}