<!DOCTYPE html>
<html>
  <head>
    <title>Growen</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="index.css">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <div id="nav-bar">
      <h3 class="nav-text">Liz & Brett FOREVER</h3>
    </div>

    <%= yield %>

  </body>

</html>
